<% if @student %>
	<h1><%= APP_CONFIG[:site_title] %> - Self Enrollment</h1>
	<table class="table">
		<tr>
			<td width="40%">
				<%= label_tag :name %>
				<%= text_field_tag :student_name, @student.name, :readonly => true %>
				<%= label_tag :email %>
				<%= text_field_tag :student_email, @student.email, :readonly => true %><br/>
			</td>
			<td>
				<p>Please select a session from the table below.</p>
			</td>
		</tr>
	</table>
	<%= form_tag self_students_path do %>
		<%= hidden_field_tag :student_name, @student.name %>
		<%= hidden_field_tag :student_email, @student.email %>
		<table class="table table-condensed table-bordered table-striped">
			<thead>
				<th width="3%"><%= check_box_tag :exam, true, :disabled => true %></th>
				<th width="27%">Exam</th>
				<th width="5%">Cost</th>
				<th width="5%">Students</th>
				<th>Limit</th>
				<th>Description</th>
			</thead>
			<% @exams.each do |exam| %>
				<tr <%= 'style="background-color: #999; color: #555;"'.html_safe if exam.enrollments.count >= exam.limit && exam.limit != 0 %>>
					<% @exam = exam %>
					<td>
						<% if !( exam.enrollments.count >= exam.limit && exam.limit != 0) %>
							<% if APP_CONFIG[:exam_self_multiple] %>
								<%= check_box_tag(:exam_ids, exam.id, @student.exams.include?(exam)) %>
							<% else %>
								<%= radio_button_tag(:exam_ids, exam.id, @student.exams.include?(exam)) %>
							<% end %>
						<% end %>
					</td> 
					<td><%= @exam.name %><%= '<span style="color: #f00; font-weight: bold"> - FULL</span>'.html_safe if ((exam.enrollments.count >= exam.limit) && (exam.limit != 0)) %></td>
					<td><%= dollars @exam.cost %></td>
					<td><%= @exam.enrollments.count %></td>
					<td><%= @exam.limit == 0 ? "None" : @exam.limit %></td>
					<td><%= markdown @exam.description %></td>
				</tr>
			<% end %>
		</table>
		<%= submit_tag "Submit Enrollment", :class => "btn btn-large btn-success" %>
		<%= link_to "Cancel", root_path, :class => 'btn btn-large btn-inverse' %>
	<% end %>

<% else %>
	<h1>Robotics sign up</h1>
	<table class="table">
		<tr>
			<td width="40%">
				<%= form_tag self_students_path do %>
					<% if APP_CONFIG[:exam_self_validate_ldap] %>
						<%= label_tag :username %>
						<%= text_field_tag :student_username %>
						<%= label_tag :password %>
						<%= text_field_tag :student_password %>
					<% else %>
						<%= label_tag :name %>
						<%= text_field_tag :student_name %>
						<%= label_tag :email %>
						<%= text_field_tag :student_email %><br/>
					<% end %>
					<%= submit_tag "Continue", :class => 'btn btn-large btn-primary' %>
				<% end %>
			</td>
			<td>
				<p>Please enter your student's first &amp; last name and a valid email address in the form to the left.</p>
			</td>
		</tr>
	</table>
<% end %>
