<% if @student %>
	<h1>Exams for <%= @student.name %></h1>
	<%= form_tag self_students_path do %>
		<%= hidden_field_tag :student_name, @student.name %>
	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<th width="3%"><%= check_box_tag :exam, true, :disabled => true %></th>
			<th width="27%">Exam</th>
			<th width="22%">Date</th>
			<th width="8%">Session</th>
			<th width="5%">Cost</th>
			<th>Students</th>
			<th>Limit</th>
			<th>Description</th>
		</thead>
		<% @exams.each do |exam| %>
			<tr <%= 'style="background-color: #999; color: #555;"'.html_safe if exam.enrollments.count >= exam.limit && exam.limit != 0 %>>
				<% @exam = exam %>
				<td><%= check_box_tag :exam_ids, exam.id, @student.exams.include?(exam) %></td> 
				<td><%= @exam.name %></td>
				<td><%= nice_date @exam.date %></td>
				<td><%= @exam.session %></td>
				<td><%= dollars @exam.cost %></td>
				<td><%= @exam.enrollments.count %></td>
				<td><%= @exam.limit == 0 ? "None" : @exam.limit %></td>
				<td><%= markdown @exam.description %></td>
			</tr>
		<% end %>
	</table>

	<%= submit_tag "Submit Enrollment", :class => "btn btn-large btn-warning" %>
	<%= link_to "Log Out", self_students_path, :class => 'btn btn-large btn-inverse' %>
<% end %>

<% else %>
	<%= form_tag self_students_path do %>
		<%= label_tag :name %>
		<%= text_field_tag :student_name %>
		<%= submit_tag "OK", :class => 'btn btn-large' %>
	<% end %>
<% end %>
