<div class="form-actions">
	<%= form_tag report_attendance_path do %>
		<table>
			<tr>
				<td>
					<%= label_tag :top, "Stuff above student list" %>
					<%= text_area_tag :top, @top %><br/>
				</td>
				<td>
					<%= label_tag :bottom, "Stuff under student list" %>
					<%= text_area_tag :bottom, @bottom %><br/>
				</td>
			</tr>
		</table>
		<%= submit_tag "Regenerate", :class => 'btn btn-warning' %>
	<% end %>	
</div>

<% @exams.each do |exam| %>
	<% @exam = exam %>
<table class="table table-bordered">
	<tr>
		<td valign="top" width="45%">
<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @exam.name %></dd>
  <dt><strong>Real Exam:</strong></dt>
  <dd><%= @exam.real ? "Yes" : "No" %></dd>
  <dt><strong>Date:</strong></dt>
  <dd><%= nice_date @exam.date %></dd>
  <dt><strong>Session:</strong></dt>
  <dd><%= @exam.session %></dd>
  <dt><strong>Cost:</strong></dt>
  <dd><%= dollars @exam.cost %></dd>
  <dt><strong>Enrolled:</strong></dt>
  <dd><%= @exam.enrollments.length %></dd>
  <dt><strong>Attending:</strong></dt>
  <dd><%= @exam.enrollments.where(:alternate => false).length %></dd>
</dl>
		</td>
		<td valign="top">
<p><strong>Description:</strong><br/>
<%= markdown @exam.description %></p>
</td>
</tr>
</table>

<%= markdown @top %>

<table class="table table-striped table-narrow">
	<thead>
		<th>Name</th>
		<th>Comment</th>
		<th>Enrollment Date</th>
	</thead>
	<tbody>
		<% @exam.enrollments.sort{|a,b| a.student.name <=> b.student.name}.each do |e| %>
		<tr>
			<td><%= e.student.name %> <% i('clock') if e.alternate %></td>
			<td><%= e.comment %></td>
			<td><%= nice_datetime e.created_at %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= markdown @bottom %>

<div class="break"></div>
<% end %>

<p>Generated <%= @exams.length %> lists.</p>
