<div class="well" style="text-align: right;">
	<h1><%= APP_CONFIG[:site_title] || "Proctor" %></h1>

	<table class="table">
		<tr>
			<% if APP_CONFIG[:exam_self_enroll] %>
			<% if @locked %>
				<td><%= link_to "Self-Enrollment is Closed", root_path, :class => 'btn btn-large btn-danger btn-block disabled' %></td>
			<% else %>
				<td><%= link_to "Self-Enroll Here", self_students_path, :class => 'btn btn-large btn-primary btn-block' %></td>
			<% end %>
		<% end %>
			<% if !current_user %><td><%= link_to "Manager Log In", new_session_path, :class => 'btn btn-large btn-inverse btn-block' %></td><% end %>
			<% if current_user %>
			<td><%= link_to "#{ APP_CONFIG[:site_exam].capitalize || "Exam" } List", exams_path, :class => 'btn btn-large btn-info btn-block' %></td>
			<td><%= link_to "Enrollment Counts", report_attendance_path, :class => 'btn btn-large btn-success btn-block' %></td>
			<td><%= link_to "Student List", students_path, :class => 'btn btn-large btn-warning btn-block' %></td>
			<td><%= link_to "Managers", users_path, :class => 'btn btn-large btn-inverse btn-block' %></td>
			<td><%= link_to("Lock/Unlock", report_lock_path, :class => 'btn btn-large btn-danger btn-block') if APP_CONFIG[:exam_self_enroll] %></td>
			<% end %>
		</tr>
	</table>

	<table class="table table-condensed table-bordered">
		<thead>
			<th colspan="5" style="text-align: center;"><h3><%= APP_CONFIG[:site_exam].capitalize || "Exam"  %> list</h3></th>
		</thead>
		<thead>
			<th width="27%"><%= APP_CONFIG[:site_exam].capitalize || "Exam" %></th>
			<th width="5%">Cost</th>
			<th width="5%">Students</th>
			<th>Limit</th>
			<th>Description</th>
		</thead>
        <% @exams.each do |exam| %>
			<tr <%= 'style="background-color: #999; color: #555;"'.html_safe if (exam.enrollments.count >= exam.limit && exam.limit != 0) || (!exam.self_enrollable && APP_CONFIG[:exam_self_enroll]) %>>
				<% @exam = exam %>
                <td><%= current_user ? link_to(@exam.name, exam): @exam.name %><%= '<span style="color: #f00; font-weight: bold"> - FULL</span>'.html_safe if exam.enrollments.count >= exam.limit && exam.limit != 0%><br/><%= nice_date exam.date %> #<%= exam.session %></td>
				<td><%= dollars @exam.cost %></td>
				<td><%= @exam.enrollments.count %></td>
				<td><%= @exam.limit == 0 ? "None" : @exam.limit %></td>
				<td><%= markdown @exam.description %></td>
			</tr>
		<% end %>
	</table>

</div>

