<div class="form-actions">
	<%= form_tag report_tickets_path do %>
		<%= hidden_field_tag :student_ids, @students.map{|s| s.id} %>
		<table>
			<tr>
				<td>
					<%= label_tag :top, "Stuff next to name/balance" %>
					<%= text_area_tag :top, @top %><br/>
				</td>
				<td>
					<%= label_tag :bottom, "Stuff under exam list" %>
					<%= text_area_tag :bottom, @bottom %><br/>
				</td>
			</tr>
		</table>
		<%= submit_tag "Regenerate", :class => 'btn btn-warning' %>
	<% end %>	
</div>

<% @students.each do |student| %>
	<% @student = student %>
	<table class="table">
		<tr>
			<td width="50%">
				<h3><%= @student.name %></h3>
				<% if @student.balance != 0 %><h4>Your current balance is: <%= number_to_currency @student.balance %></h4><% end %>
			</td>
			<td>
				<%= markdown @top %>
			</td>
		</tr>
	</table>

	<table class="table table-condensed table-bordered">
		<% @student.exams.in_groups_of(3).each do |group| %>
			<tr>
				<% group.each do |e| %>
					<td width="25%">
						<% if e %>
							<h4><%= e.name %></h4>
							<dl class="dl-horizontal">
								<dt><strong>Date:</strong></dt>
								<dd><%= nice_date e.date %></dd>
								<dt><strong>Session:</strong></dt>
								<dd><%= e.session %></dd>
							</dl>
						<%= markdown (e.description)  %>
						<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
			</table>

			<%= markdown @bottom %>

			<div class="break"></div>
		<% end %>

		<p>Generated <%= @students.length %> tickets.</p>


