<p><%= @student.name %>,</p>

<p>You are currently signed up for the following:</p>
<% if @student.exams.count > 0 %>
	<table border="1">
		<tr>
			<th>Event</th>
			<th>Description</th>
			<th>Cost</th>
			<th>Timestamp</th>
		</tr>
		<% @student.enrollments.each do |e| %>
			<tr>
				<td><%= e.exam.name %></td>
				<td><%= markdown e.exam.description %></td>
				<td><%= dollars e.exam.cost %></td>
				<td><%= nice_datetime e.created_at %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p><i>You are not signed up for anything</i></p>
<% end %>

<% if @student.balance > 0 %>
	<p>We currently owe you <%= dollars @student.balance %>.</p>
<% end %>

<% if @student.balance < 0 %>
	<p>You currently owe <%= dollars -@student.balance %>.</p>
<% end %>
