<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Proctor" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
	</head>
	<body>

		<div class="container">
			<div class="content">
				<div class="row">
					<div class="span3">
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								
								<% if current_user %>
									<li class="nav-header"><%= link_to "Reporting", '/' %></li>
									<li><%= link_to "Generate Schedules", '/report/tickets' %></li>
									<li><%= link_to "Attendance Lists", '/report/attendance' %></li>
									<li><%= link_to "Unpaid Students", '/report/unpaid' %></li>
									<li><%= link_to "Exam List", '/report/exams' %></li>
									<li class="divider"></li>
									<li class="nav-header"><%= link_to "Exams", exams_path %></li>
									<li class="divider"></li>
									<li class="nav-header"><%= link_to "Students", students_path %></li>
									<li><%= link_to "Import Students", import_students_path %></li>
									<li class="divider"></li>
									<li><%= link_to "Manage Users", users_path %></li>
									<li><%= link_to "Formatting Help", "http://www.simpleeditions.com/59001/markdown-an-introduction", :target => '_blank' %></li>
									<li class="divider"></li>
									<li><%= link_to "Log Out", '/sessions/destroy' %></li>
								<% else %>
									<li><%= link_to "Manager Log In", 'sessions/new' %></li>
								<% end %>
							</ul>
						</div><!--/.well -->
					</div><!--/span-->
					<div class="span9">
						<% flash.each do |type, message| %>
							<div class="alert alert-<%= twitterized_type type %>" data-alert="alert" style="width: 300px; margin: auto; margin-bottom: 10px;">
								<a href="#"i class="close" data-dismiss="alert">&times;</a>
								<p><%= message %></p>
							</div>
						<% end %>
						<%= yield %>
					</div>
					
				</div><!--/row-->
			</div><!--/content-->
			<footer style="text-align: right;">
			<p><i>Created by Brad Thompson, WLCSC Technology Department</i> - Generated <%= nice_datetime Time.now %></p>
			</footer>

		</div> <!-- /container -->

		<!-- Javascripts
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<%= javascript_include_tag "application" %>
		<%= javascript_tag do %>
$('.datatable').dataTable({
"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
"bPaginate": false,
	       "bLengthChange": false,
	       "bFilter": true,
	       "bSort": true,
	       "bInfo": false
});

		<% end %>
	</body>
</html>
